.App {
  text-align: center;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: auto;
}

.form{
  max-width: 400px;
  margin: auto;
}
.progressbar{
  width: 100%;
  background-color: bisque;
  height: 10px;
}

.progressbar .percent{
  background: rgb(255, 120, 142);
  height: 100%;
}